/**
* NOTE: Tailwind is used for CSS reset and for help in development because it's easier and faster to design
* something with inline styles
*
 * If it's was a production project I will mainly use tailwind for my styles,
 * but, because it's training task, it's only used as reset and help in development
 */
@import "tailwindcss";

:root {
    --font-montserrat: "Montserrat", sans-serif;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-mute: #d9d9d9;
    --color-mute-2: #e5e5e5;

    --color-accent: #7ae5fd;
    --color-accent-dark: #73a6b1;
    --color-accent-light: #f1fdff;
    --color-accent-mute: #9ad2de;

    --color-secondary: #f9fadf;
}

.app {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 400;
    max-width: 90rem;
    margin: 0 auto;
}

/* Text */

.title {
    font-size: 3.75rem;
    line-height: 120%;
    letter-spacing: -2%;
    text-transform: uppercase;
}

.title-md {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    font-size: 2.875rem;
    line-height: 120%;
    letter-spacing: -2%;
    text-transform: uppercase;
}

.text-sm {
    font-size: 1.125rem;
    line-height: 96.9%;
}

.text {
    font-size: 1.25rem;
    line-height: 120%;
}

.text-md {
    font-size: 1.6875rem;
    line-height: 120%;
}

/* Text end */

/* Theme */
/**
* NOTE: It will better to use Tailwind CSS or something like this to generate classes from css variables on build
 */
.text-accent-dark {
    color: var(--color-accent-dark);
}

/*
* Copied from TailwindCSS
 * Used for allow screen reader read the text/block, but it will not be available for default viewer
 * NOTE: We cannot use display:none for this, because in this case reader will not see that text as well
 */
.sr-only {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border-width: 0;
}
/* Global */

.header {
    padding: 0 4.5rem 0 0;
    display: flex;
    justify-content: space-between;
}

.menu--list {
    display: flex;
    height: 100%;
}

.menu--item {
    align-content: center;
    height: 100%;
}

.menu--link {
    display: block;
    padding: 4rem 1.75rem;
    height: 100%;
}

.logo {
    align-content: center;
    padding: 0 4.5rem;
}

.button {
    display: inline-block;
    width: fit-content;
    padding: 1.125rem 2.25rem;
    background-color: var(--color-accent);
    border-radius: 5.5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.125rem;
    line-height: 96.9%;
    cursor: pointer;
}

.button[data-variant="white"] {
    background-color: var(--color-white);
}

.menu--link:has(.menu--support) {
    align-content: center;
    display: block;
    padding: 0;
}

.face {
    padding: 13rem 0 13rem 6.5rem;
    background-image: image-set(url("/src/assets/bg.avif") type("image/avif"), url("/src/assets/bg.webp") type("image/webp"), url("/src/assets/bg.jpg") type("image/jpeg"));
}

.face--block {
    max-width: 42.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
}

.face--title {
    max-width: 35rem;
    font-weight: 800;
    font-size: 4rem;
    line-height: 94.9%;
    letter-spacing: -2%;
    color: var(--color-white);
    text-transform: uppercase;
}

.face--description {
    max-width: 23rem;
}

.about {
    padding: 10rem 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.about--content {
    max-width: 62.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.about--wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

.program {
    padding: 0 4.5rem 10rem 4.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.125rem;
}

.program--block {
    padding: 2.5rem 3.875rem;
    display: flex;
    column-gap: 3.875rem;
    align-items: center;

    background: var(--color-accent-light);
    border-radius: 0.625rem;
}

.program--content {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

.program--image {
    min-height: 26.5rem;
    min-width: 36.5rem;
}

.program--image__man-on-bench {
    background-image: image-set(url("/src/assets/man-on-the-bench.avif") type("image/avif"), url("/src/assets/man-on-the-bench.webp") type("image/webp"), url("/src/assets/man-on-the-bench.jpg") type("image/jpeg"));
}

.program--image__children {
    background-image: image-set(url("/src/assets/children.avif") type("image/avif"), url("/src/assets/children.webp") type("image/webp"), url("/src/assets/children.jpg") type("image/jpeg"));
}

.mission {
    padding: 13.75rem 5rem;
}

.mission--block {
    position: relative;
    min-height: 19.5rem;

    padding: 5.625rem 3.875rem;
    display: flex;
    align-items: center;

    background: var(--color-accent-light);
    border-radius: 0.625rem;
}

.mission--text {
    max-width: 34.5rem;
}

.mission--image {
    position: absolute;
    right: 6rem;
    bottom: 0;

    min-height: 35.5rem;
    min-width: 28.375rem;

    background-repeat: no-repeat;
    background-image: image-set(url("/src/assets/smile-kids.avif") type("image/avif"), url("/src/assets/smile-kids.webp") type("image/webp"), url("/src/assets/smile-kids.png") type("image/png"));
}

.mission--background {
    position: absolute;
    right: -2.75rem;
    bottom: 0;

    min-height: 25.625rem;
    min-width: 44.75rem;

    background-repeat: no-repeat;
    background-image: image-set(url("/src/assets/mission-bg.avif") type("image/avif"), url("/src/assets/mission-bg.webp") type("image/webp"), url("/src/assets/mission-bg.png") type("image/png"));
}

.support {
    padding: 0 0 10rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 3.125rem;
    text-align: center;
    align-items: center;
}

.support--header {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.support--content {
    display: flex;
    flex-direction: column;
    row-gap: 1.125rem;
}

.support--money {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
}

.support--divider {
    width: 0.125rem;
    height: 100%;
    min-height: 3.875rem;
    background: var(--color-accent-mute);
}

.contact {
    display: flex;
    row-gap: 3.125rem;
    flex-direction: column;
    padding: 3.125rem 4.5rem 10rem 4.5rem;
    background: var(--color-secondary);
    width: 100%;
}

.contact--header {
    display: flex;
    justify-content: space-between;
    row-gap: 5.875rem;
}

.contact--block-title {
    width: 100%;
    text-align: center;
}

.contact--block-contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3.625rem;
}

.contact--social {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.contact--social-icons {
    display: flex;
    column-gap: 1rem;
}

.contact--social-icon {
    width: 2rem;
    height: 2rem;
}

.contact--social-phone {
    font-weight: 800;
}

.contact--image {
    width: 100%;
    height: 100%;
    min-height: 21.75rem;

    background-size: contain;
    background-repeat: no-repeat;

    /* prettier-ignore */
    background-image: image-set(
            url("/src/assets/email.avif") type("image/avif"),
            url("/src/assets/email.webp") type("image/webp"),
            url("/src/assets/email.jpg") type("image/jpeg")
    );
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.contact-form--block {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.contact-form--input {
    border-radius: 3.875rem;
    height: 4.125rem;
    background: var(--color-secondary);
    padding: 1.375rem 2.5rem;
}

.contact-form--input::placeholder {
    font-size: 1.25rem;
    line-height: 120%;
    color: var(--color-black);
}

.contact-form--button {
    min-width: 100%;
}

.contact--content {
    padding: 3.75rem;
    background: var(--color-white);
    border-radius: 0.625rem;
    display: flex;
    column-gap: 5.875rem;
}
